<html>
    <head>
        <title>This is MY page, not YOURS</title>
    </head>
    <body>
        <div>
            <h1><a href="">This is MY page, not YOURS</a></h1>
        </div>

        <div>
            <p>published 10.09.2015, 2:50</p>
            <h2><a href="">My first scribble</a></h2>
            <p>Greetings and jazz, know what I mean?</p>
        </div>

        <div>
            <p>published 10.09.2015, 2:53</p>
            <h2><a href="">Second scribble</a></h2>
            <p>Time to get sorted into houses...</p>
        </div>
    </body>
</html>
